<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{{ path('app_home') }}" class="nav-link">Retourner ver le site</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_category') }}" class="nav-link text-danger">
            <i class="fa fa-tag">&nbsp;</i>
            Catégories
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('admin_user') }}" class="nav-link">
            <i class="fa fa-users">&nbsp;</i>
            Utilisateurs
        </a>
    </li>
</ul>