{% extends "base.html.twig" %}

{% block nav %}
{% endblock %}

{% block body %}
<header class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0 shadow" id="header">
    <a href="{{ path('admin_dashboard') }}"
        class="navbar-brand col-md-3 col-lg-2 px-3 me-0 text-cursive fw-bold">NoanaBe</a>
    <button class="navbar-toggler shadow-none m-1" data-bs-target="#offcanvas" data-bs-toggle="offcanvas"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% block search %}
    {% include "components/AdminSearchBar.html.twig" %}
    {% endblock %}
    <div class="navbar-nav pb-2 pt-2">
        <a href="{{ path('app_logout') }}" class="px-3 nav-link p-0 link-success">Déconnexion</a>
    </div>
</header>

<!-- ------------------------------ Offcanvas ------------------------------ -->
<div class="offcanvas offcanvas-start bg-dark w-100" id="offcanvas">
    <div class="offcanvas-header">
        <div class="offcanvas-title text-light text-cursive fw-bold">
            NoanaBe
        </div>
        <button class="btn-close shadow-none bg-light rounded-5 opacity-100" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {% include "admin/partials/_menu.html.twig" %}
    </div>
</div>

<!-- ------------------------------- Sidebar ------------------------------- -->
<nav class="col-lg-2 col-md-3 d-none d-md-block bg-dark position-fixed h-100 bottom-0 shadow navbar navbar-dark">
    <div class="position-sticky overflow-x-hidden overflow-y-auto mt-md-5">
        {% include "admin/partials/_menu.html.twig" %}
    </div>
</nav>

<!-- -------------------------------- Main --------------------------------- -->
<div class="col-md-9 ms-auto col-lg-10">
    <div class="container-fluid">
        {% block main %}
        {% endblock %}
    </div>
</div>
{% endblock %}