@import url("../vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("../vendor/@fortawesome/fontawesome-free/css/all.css");

:root{
    --bs-dark: pink !important;
}

body{
    font-size: 18px;
}

.text-cursive{
    font-family: cursive;
}
