{% extends "admin/layout.html.twig" %}

{% block title %}
{{ parent() }}-Admin(catégories)
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-cursive fw-bold">Ajout d'une catégorie</h1>
    <a href="{{ path('app_category') }}" class="link-danger text-decoration-none">
        <i class="fa fa-arrow-alt-circle-left">&nbsp;</i>
        Annuler
    </a>
    <div class="mt-5" style="max-width: 350px;">
        {{ form_start(form) }}
        {% include "admin/category/_form.html.twig" %}
        <button type="submit" class="btn btn-primary mt-3">
            <i class="fa fa-save">&nbsp;</i>
            Enregistrer
        </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}