{% extends 'admin/layout.html.twig' %}

{% block title %}
  {{ parent() }}-Admin(produits)
{% endblock %}

{% block search %}
  {{ include('components/AdminSearchBar.html.twig', { path: path('admin_product_search') }) }}
{% endblock %}

{% block main %}
  <div class="container mb-5">
    <h1 class="text-cursive fw-bold">Liste des produits</h1>

    {% include 'partials/_flashMessages.html.twig' %}

    {% include 'admin/product/_table.html.twig' %}
  </div>
{% endblock %}
