<form action="{{ path|default('default value') }}" class="w-100" method="get">
    <input type="search" name="q" id="" placeholder="Rechercher..." class="form-control border-0 rounded-0 bg-light p-3"
        required>
</form>