<tr class="text-center">
    <td colspan="{{ colspan }}">
        <div class="container">
            <div class="row">
                <div class="placeholder-wave col-lg-4">
                    <span class="placeholder rounded placeholder-xs col-12"></span><br>
                    <span class="placeholder col-6 rounded"></span>
                </div>
                <div class="col-lg-4">
                    <span class="text-danger">Aucun résultat</span>
                </div>
                <div class="placeholder-wave col-lg-4">
                    <span class="placeholder placeholder-xs col-6 rounded"></span><br>
                    <span class="placeholder col-12 rounded"></span>
                </div>
            </div>
        </div>
    </td>
</tr>