<div {{ attributes }}>
  <!-- component html -->
  {# {% if city %} #}<button type="button" data-action="live#$render">Generate a new number!</button>
  {{ this.ShipppingCost }}
  {# {% endif %} #}
</div>
