{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
  <style>
    .ts-control {
      box-shadow: none !important;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container mt-md-2 mt-lg-5">
    <h1 class="text-cursive fw-bold">Vérification de ma commande</h1>
    {{ component('Order', {}) }}
  </div>
{% endblock %}
